@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-opened {
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo oscuro con transparencia */
  overflow: hidden;
  /* Para evitar el desplazamiento cuando el menú está abierto */
}




.custom-scrollbar2 {
  max-width: 500px;
  overflow-x: hidden;
} 

.custom-scrollbar3 {
  max-width: 100%;
  overflow-x: hidden;
} 

.custom-scrollbar {
  max-width: 250px;
  overflow-x: hidden;
}

.custom-scrollbar::-webkit-scrollbar, .custom-scrollbar2::-webkit-scrollbar, .custom-scrollbar3::-webkit-scrollbar {
  width: 10px;
  /* Ancho de la barra de desplazamiento */
}

.custom-scrollbar2::-webkit-scrollbar-thumb {
  background-color: #ced0d1;
  /* Color del pulgar de la barra de desplazamiento */
  border-radius: 5px;
  /* Borde redondeado del pulgar */
}

.custom-scrollbar3::-webkit-scrollbar-thumb {
  background-color: #ced0d1;
  /* Color del pulgar de la barra de desplazamiento */
  border-radius: 5px;
  /* Borde redondeado del pulgar */
}


.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #5f6368;
  /* Color del pulgar de la barra de desplazamiento */
  border-radius: 5px;
  /* Borde redondeado del pulgar */
}

.custom-scrollbar::-webkit-scrollbar-track, .custom-scrollbar2::-webkit-scrollbar-track, .custom-scrollbar3::-webkit-scrollbar-track {
  background-color: #f1f3f4;
  /* Color del riel de la barra de desplazamiento */
}

/* Estilos adicionales para la barra de desplazamiento en otros navegadores */
.custom-scrollbar::-webkit-scrollbar-thumb:vertical, .custom-scrollbar2::-webkit-scrollbar-thumb:vertical, .custom-scrollbar3:-webkit-scrollbar-thumb:vertical {
  min-height: 30px;
  /* Altura mínima del pulgar */
}

/* .custom-scrollbar::-webkit-scrollbar-thumb:hover, .custom-scrollbar2::-webkit-scrollbar-thumb:hover, .custom-scrollbar3::-webkit-scrollbar-thumb:hover  {
  background-color: #000;
} */

/* Estilo para ocultar el input real */
input[type="file"] {
  display: none;
}

/* Estilo para la etiqueta que actúa como el botón */
.file-input-label {
  display: inline-block;
}

.file-input-label.file-uploaded {
  color: rgb(34, 197, 94); /* o el color que desees cuando se carga un documento */
}





.container-1 {
  position: absolute;
  top: -100px;
}

.section-cont-1 {
  width: 100%;
}

.music-loader {
  position: relative;
  width: 80px;
  height: 60px;
}

.line {
  width: 8px;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  background-color: #5f6368;
}

.line1 {
  left: 0;
  animation: dance 0.5s ease alternate infinite;
}

.line2 {
  left: 20px;
  animation: dance 0.5s 0.2s ease alternate infinite;
}

.line3 {
  left: 40px;
  animation: dance 0.5s 0.4s ease alternate infinite;
}

.line4 {
  left: -20px;
  animation: dance 0.5s 0.2s ease alternate infinite;
}

.line5 {
  left: 60px;
  animation: dance 0.5s 0.4s ease alternate infinite;
}


@keyframes dance {
  0% {
    height: 0;
  }
  100% {
    height: 80%;
  }
}





/* 

cccccccccccccccccc */




/* 
#msg {
  visibility: hidden;
  color: red;
  font-weight: bold;
  font-size: 22px;
  font-family: Verdana;
}
button {
  padding: 5px 10px;
  border: 1px solid grey;
  font-size: 18px;
  background: white;
}

.audio-controls {
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: center;
}
.audio-controls button {
  margin: 0px 5px;
}
canvas {
  margin-top: 10px;
  background-color: black;
}
select {
  height: 25px;
  margin: 0px 5px;
}
a {
  margin-left: 20px;
}
.app {
  text-align: center;
  padding-top: 20px;
} */